body{
  padding: 0px;
  margin: 0px;
}
/* Header css */
.header{
  background-color: lightblue;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin: 0px 0px;
  padding: 0px 15px;
}

.nav-links{
  display:flex;
  flex-flow: row;
  color: black;
}
.nav-link {
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  color: red;
}
/* end of header css */
/* login form css */
.login-box{
  background-color: blue;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

.login-label{
  color: white;
  font-size: 2em;
}

.login-form{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-flow: column;
    background-color: aqua;
    margin: 0 10% 5% 10%;
    height: 10em;
    width: 20em;
    border-radius: 1em;
}

.login-field{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.login-input{
  width:100%;
  height: 2em;
  border: none;
  border-radius: 2em;
  padding: 0 3%;
}

.login-button{
  border: none;
  text-decoration: none;
  background-color: gold;
  text-align: center;
  width: 40%;
  border-radius: 2em;
  padding: 0px 2%;
  color: black;
}

.login-button:hover{
  background-color: aquamarine;
  color: red;
}

.register-button{
  width:100%;
  height: 1.5em;
  border: none;
  text-decoration: none;
  background-color: gold;
  border-radius: 2em;
  padding: 0px 2%;
  color: black;
}