body{
  background-color: rgba(242, 242, 242, 0.842);
  padding: 0px;
  margin: 0px;
}
/* Reusable css */
.indent{
  margin: 0 2vh 0vh 2vh;
}

/* end of reusable */
/* Header css */
.header{
  background-color: white;
  display:flex;
  height: 5em;
  margin: 0px 0px;
  padding: 0px 15px;
}
.header-place{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 87%;
}
.logo-side{
  display:flex;
  flex-flow: row;
  align-items: center;
}

.app-name{
  font-size: 3em;
  margin-right: 1em;
  color:rgb(28, 170, 130);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.158);
}

.nav-links{
  display:flex;
  flex-flow: row;
  align-items: center;
  color: black;
}
.new-habit{
  color: white;
  font-size: 2vh;
  text-decoration: none;
  background-color: rgb(28, 170, 130);
  padding: 1vh 1vh;
  border-radius: .5em;
}
.new-habit:hover{
  padding:1.25vh 1.25vh;
  font-size: 2.25vh;
  background-color: rgb(36, 222, 169)
}
.nav-link {
  margin: 0px 10px;
  text-decoration: none;
  font-size: 3vh;
  color: black;
}

.nav-link:hover{
  color: rgb(36, 222, 169)
}
/* end of header css */

/* login form css */
.login-box{

  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

.login-label{
  color: black;
  font-size: 2em;
}

.login-form{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-flow: column;
    background-color: rgb(255, 255, 255);
    margin: 0 10% 5% 10%;
    height: 10em;
    width: 30%;
    border-radius: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}

.login-field{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.login-input{
  width:100%;
  height: 3vh;
  border: none;
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 2em;
  padding: 0 3%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.391) inset;
}

.login-button{
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  background-color: rgb(28, 170, 130);
  width: 40%;
  height: 3vh;
  font-size: 18px;
  border-radius: .5em;
  padding: 0px 2%;
  color: white;
}

.login-button:hover{
  background-color:rgb(36, 222, 169);
  height:3.5vh;
}

.register-button{
  width:100%;
  height: 3vh;
  font-size: 15px;
  color:white;
  border: none;
  text-decoration: none;
  background-color: rgb(28, 170, 130);
  border-radius: 2em;
  padding: 0px 2%;
  color: black;
}
/* end of login info css */

/* Dashboard CSS */
.dash-chart{
  display:flex;
  flex-flow: column;
  margin: 0;
  align-self: flex-start;
}
.front-chart-i{
  display: flex;
  width: 100%;
  margin:-30% 0;
}
.dashboard-cont{
  display:flex;
  flex-flow:row;
  width:70%;
  /* background-color: blueviolet; */
  margin: 0px auto;
}

.side-cont{
  display:flex;
  flex-flow:column;
  align-items: center;
  /* background-color: blanchedalmond; */
  width: 25%;
  padding: 0px 1vh;
}

.middle-cont{
  display: flex;
  justify-content: center;
  width:50%;
  padding: 0px 1vh;
}

.dash-component{
  display:flex;
  flex-flow: column;
  width: 100%;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
  margin: 2vh 0 0 0;
}
.dash-component-nb{
  display:flex;
  flex-flow: column;
  width: 100%;
  margin: 2vh 0 0 0;
}

/* Profile Component */
.profile-top{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin: 2vh; 
}

.avatar{
  display: flex;
  align-items:center;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 4em;
}

.profile-info{
  display:flex;
  flex-direction:column;
  padding-right:3mm;
  align-items: center;
  margin: auto 0px auto 10%;
  text-decoration: none;
}
.profile-info-add{
  display: flex;
  width:13vh;
  align-self: flex-end;
}

.profile-name{
  font-size: 25px;
  text-decoration: none;
  color:black;
}
.profile-name:hover{
  color: rgb(36, 222, 169)
}
.reflection-questionnaire{
  display:flex;
  flex-flow:column;
  width: 65%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.questionReflect{
  display:flex;
  flex-flow:column;
  width: 80%;
  margin-bottom: 3vh;
  padding: 2vh;
  background-color: white;
  border-radius: .5em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.516);
}
.questionReflect p{
  margin:0 auto 1vh auto;
}
.questionReflect textarea{
  resize:none;
  border: none;
  background-color: rgba(128, 128, 128, 0.256);
  border-radius: .2em;
}
.ref-ct{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.send-reflection{
  height: 4vh;
  margin: 0 auto 3vh auto;
}
.send-reflection:hover{
  color: rgb(36, 222, 169);
}
.basic-button{
  margin: 2vh 2vh 0vh 2vh;
  height: 2em;
  font-size: 2vh;
  background-color:blueviolet;
  border: none;
  border-radius: 2em;
}
.basic-button:hover{
  background-color: rgb(36, 222, 169);
}

.wins{
  margin: 2vh 2vh 2vh 2vh;
}

/* Today records component */
.user-records{
  margin-bottom: 2vh;
}
.today-records{
  text-decoration: none;
  font-size: 2vh;
  color: black;
}
.today-records:hover{
  color: rgb(28, 170, 130);
}

/* Basic Record Display */
.records-cont{
  display:flex;
  flex-flow: column;
}
.indiv-record{
  display: flex;
  flex-flow:column;
  height:60%;
  margin-bottom: 3vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
}
.record-info{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding:2vh;
  height:80%;
}
.center{
  display:flex;
  flex-flow: column;
  align-items: center;
}
.record-title{
  display:flex;
  flex-flow: column;
  align-items: center;
}
/* content in records title */
.user-record-name{
  display:flex;
  text-decoration: none;
  color:black;
  font-size: 30px;
  margin: 0 0 -5px 0;
}
.user-record-name-or{
  display:flex;
  text-decoration: none;
  color:black;
  font-size: 30px;
  margin: 0 0 -5px 0;
}
.user-record-name:hover{
  color: rgb(36, 222, 169);
}
.date-of-record{
  display:flex;
  text-align: left;
  color: grey;
  font-size: 12px;
}
.specific-record{
  display:flex;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 0;
}
.specific-record-f{
  display:flex;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 0;
}
.specific-record:hover{
  color: rgb(36, 222, 169);
}
.specific-record-self{
  display:flex;
  text-decoration: none;
  color: black;
  font-size: 27px;
  margin: 0 0;
}
.date-of-record-self{
  display:flex;
  color: grey;
  font-size: 14px;
}
.specific-record-self:hover{
  color: rgb(36, 222, 169)
}
.today-recorded{
  display:flex;
  font-size:40px;
  margin: 0 0 -2vh 0px;
}

.self-comment{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  border-radius:1em;
  width: 75%;
  padding: 1vh;
  margin: -2vh 2vh 1vh 0.5vh;
}
.self-comment p {
  margin-top: 0;
}
.edt-but{
  display: flex;
  color: black;
  height: 3.5vh;
  align-self: flex-end;
}
.edt-but:hover{
  color: rgb(36, 222, 169);
}
.gls{
  display: flex;
  justify-content: space-between;
}
.txt-sc{
  display:flex;
  justify-self: flex-start;
  margin-top: -1vh;
  height: 2vh;

}
/* end of content in record */

.record-action{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-content: center;
  margin: 0 5vh;
  width: 30%;
}
.record-action-f{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 5vh;
}
.load-more{
  height: 3vh;
}
.load-records{
  display:flex;
  justify-content: center;;
  margin-bottom:2vh;
}

/* Habit form */
.habit-form{
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.332);
  border-radius: 2em;
}
.questionnaire{
    display:flex;
    width:100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
.question{
  display:flex;
  margin:0 2vh;;
  font-size: 20px;
}
.weekdays{
  display:flex;
  margin: 0 0 2vh 0;
}
.sp-day{
  margin: 0 1vh;
}
.sp-day p{
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.dow{
  background-color: olive;
}
.long-answer{
  width:60%;
  resize: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.56) inset;
  border-radius: .5em;
  height: 10vh;
  background-color: rgba(179, 179, 179, 0.284);
}
.fill-in{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.switch-cmt{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}
.cmt-icon{
  height: 4vh;
}
.cmt-icon:hover{
  color:rgb(36, 222, 169);
}
.widerpls{
  display: flex;
  justify-content: center;
  width:5%;
  background-color: yellow;

}
.hbt-name-input{
  font-size: 15px;
  width: 20%;
  margin: 0 1vh;
  border-radius: .3em;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.numeric-input{
  font-size: 15px;
  width: 10%;
  margin: 0 1vh;
  border-radius: .3em;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.habit-buttons{
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2vh;
}

.button{
  color: black;
  background-color: rgb(218, 210, 210);
  border: black 1px solid;
  height: 3vh;
  width: 10%;
  border-radius: 2em;
}
.button:hover{
  color: rgb(36, 222, 169);
  height:3.5vh; 
}

/* Profile Pages */
.profile-cont{
  display:flex;
  
  flex-flow:column;
  /* background-color: cadetblue; */
  width: 70%;
  margin: 5vh auto 0px auto;
}
.profile-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
  background-color: white;
}
.profile-img{
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 35%;
}
.actual-img{
  border: 1px solid black;
  height: 10vh;
  width: 10vh;
  margin-top: 2vh;
  border-radius: 4em;
  z-index: 3;
}
.profile-name-profile{
  display: flex;
  flex-flow:column;
  color:black;
  align-items: center;
  width:100%;
  margin-bottom: 2vh;
}

.username{
  margin-top: 8vh;
}
.bio{
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  width: 65%;
}
.top-bio{
  display:flex;
  margin: 2vh 2vh 0 0;
  height:50%;
}
.bio-text{
  display: flex;
  width: 10%;
}
.bio-info{
  display: flex;
  width: 100%;
  border:black 1px solid;
  border-radius: 1em;;
}
.bottom-bio{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}
.friend-profile{
  display:flex;
  justify-content: space-around;
  width:90%;
}
.habit-list{
  display: flex;
  flex-flow:column;
  align-items: center;
}
.l-e-c{
  text-decoration: none;
  color: black
}
.l-e-c:hover{
  color:rgb(36, 222, 169) ;
}
.h-list-cont{
  display: flex;
  justify-content: space-around;
  width:100%;
  border-radius: .3em;
  flex-flow: wrap;
  border:none;
  /* background-color: white; */
}
.specific-habit{
  display: flex;
  width: 20%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  background-color:white;
  margin: 2vh 0;
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
}
.record-data{
  display:flex;
  flex-flow:row;
  width:100%;
}
.record-data-l{
  display:flex;
  flex-flow: column;
  width: 50%;
  border-radius: 1em;
  margin: 2vh 0 0 0;
}
.record-data-r{
  display: flex;
  flex-flow:column;
  width: 50%;
}
.other-user-record-data{
  display:flex;
  flex-flow:column;
  margin: 0 auto;
  width: 50%;
}
.prof-data-visual{
  display:flex;
  height: 20vh;
  background-color: aquamarine;
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
  margin: 2vh 0vh 0 2vh;
}
/* end profile page */

/* record detail */
.record-detail{
  display:flex;
  flex-flow: column;
  margin: 5% auto 0 auto;
  width: 50%;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.362) ;
  background-color: white;
}
.effect-record{
  display:flex;
  justify-content: space-between;
}
.record-detail-comment{
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  align-items: flex-start;
}
.record-detail-comment p{
  margin:0 2vh 2vh 2vh;
}
.actual-comment{
  display: flex;
  width:100%;
}
.idec{
  display: flex;
  flex-flow:column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}
.actual-edit-comment{
  display:flex;
  width:100%;
  margin: 0 2vh 2vh 2vh; 
  border:none;
  background-color: rgb(240, 241, 241);
  resize: none;
}
.bio-text-record{
  display: flex;
}
.detail-title{
  color:white;
}
.r-detail-title{
  display:flex; 
  background-color: rgb(28, 170, 130);
  width:100%;
  border-radius: 1em 1em 0 0;
}
.r-title{
  display:flex;
  width: 100%;
  margin: 0 2vh;
  justify-content: space-between;
  align-items: center;
}
.rec-det-icon{
  display: flex;
  height:3vh;
  margin-left: 2vh;
  color:white;
}

.btn-cmnt{
  display:flex;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.record-info-input{
  display:flex;
  margin-top: 2vh;
}
.record-info-input-num{
  display: flex;
  text-align: right;
  /* border: none; */
  width:50%;
  border-radius: .3em;
  font-size: 45px;
}
.status-input{
  display:flex;
  justify-content: space-between;
}
.status-input-m{
  display: flex;
  flex-flow: column;
  width:55%;
}
.status-status{
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}
.status-metric{
  display:flex;
  justify-content: space-between;
}
.big-status{
  display:flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
}
.big-status p:first-child{
  font-size: 50px;
  margin: 0;
}
.big-status p:nth-child(2){
  margin: 0;
  font-size: 20px;
}
.lil-status{
  display:flex;
  flex-flow: column;
  width: 50%;
  justify-content: center;
  /* background-color: brown; */
  align-items: flex-start;
}
.lil-status p{
  font-size: 12px;
  margin: 0 0 0 0;
}
.status-input-q{
  display: flex;
  flex-flow:column;
  width:45%;
}
.status-input-q div{
  display:flex;
  justify-content: space-between;
  margin: 0 2vh 0 0;
}

.upd-sav-button{
  display: flex;
  justify-content: space-between;
  margin:1vh 0;
}
.detail-record-button{
  display:flex;
  background-color: blueviolet;
  color: white;
}



/* Gif bar */
.reaction{
  display:flex;
  justify-content: space-between;
  height: 20%;
  padding: 0 2vh;
}
.comment-cont{
  display:flex;
  flex-flow: column;
  margin: 1vh 0;
  width: 100%;
  /* background-color: azure; */
}
.comment-bar{
  display: flex;
  justify-content: space-between;
}
.quick-action{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.record-commentor{
  display: flex;
  margin-right: 1vh;
}
.spc{
  margin-right: 2vh;
}
.comment-button{
  border:none;
  height:2em;
  color:black;
}
.comment-button:hover{
  color: rgb(36, 222, 169);
}
.gif-search{
  display:flex;
  align-items: center;
}
.search-input-gif{
  display: flex;
  border: none;
  /* background-color: azure; */
  border-bottom: 1px black solid;
  margin-right: 1vh;
  height: 2vh;
}
.gif-search-results{
  display:flex;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-between;
}
.comment-list-cont{
  display:flex;
  flex-flow:column;
  align-items: center;
  width: 100%;
  border-top: 1px black solid;
  padding-top: 1.5vh;
  margin-top: 1vh;
}
.indiv-rec-comment{
  display: flex;
  width:90%;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;
  padding: 1vh;
  border: 1px black solid;
  margin-bottom: 2vh;
}
.searched-gifs{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px black solid;
  margin-top: 1vh;
  padding-top: 1vh;
}
.gif-style{
  border-radius: 1em;
}
.indiv-gif-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow:wrap;
  margin: 1vh;
  width: 45%;
  z-index: 3;
}

.indiv-gif{
  display:flex;
  border-radius: 1em;
  width: 100%;
}
.indiv-gif:hover{
  opacity: 0.6;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.gif{
  display:flex;
  flex-flow: column;
  align-items: center;
  margin: 2vh auto 0 auto;
}
.gif-on-cue{
  display:flex;
  flex-flow: column;
  margin-top: 1vh;
  padding-top: 1.5vh;
  border-top: 1px black solid;
  width: 100%;
}
.selected-gif{
  display: flex;
  align-self: center;
  border-radius: 1em;
  width: 60%;
  margin-bottom: 2vh;
}
.send-gif{
  display:flex;
  align-self: flex-end;
  width: 8%;
  margin-bottom: 1vh;
  margin-right: 3vh;
}
/* end gif */

/* Friend List */
.friends-list{
  display:flex;
  flex-flow: column;
  align-items: center;
}
.friend-in-list{
  display:flex;
  align-items: center;
  margin-bottom: 1vh;
  padding: 0 2vh;
  border-radius: .5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.483) inset;
  width: 100%;
  justify-content: space-between;
  background-color: white;

}
.list-profile-link{
  font-size: 25px;
  text-decoration: none;
  color:black;
} 
.list-profile-link:hover{
  color: rgb(36, 222, 169);
} 
.remove-friend-in-list{
  width:20%;
}

/* End of friend list */

/* HabitPage CSS */
.habitPage-cont{
  display:flex;
  flex-flow:column;
  width:85%;
  /* background-color: blueviolet; */
  margin: 0px auto;
}
.habitTitle{
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}
.under-habit-title{
  display:flex;
  margin:0;
}
.goals-habit{
  display:flex;
  justify-content: space-around;
  width:50%;
  /* background-color: rgb(183, 183, 255); */
}
.dataviz-record{
  display: flex;
  margin: 0 0 2vh 0;
  height: 20vh;
}
.number-display{
  margin: 0;
  font-size: 40px;
}
.record-s-viz{
  justify-content: flex-end;
  width: 50%;
}
.big-num-goal{
  display:flex;
  flex-flow:column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.289) inset;
  width:35%;
  border-radius: .75em;
}
.habit-page-total{
  display: flex;
  margin: 0 auto;
  width: 70%;
}
.data-s-viz{
  display: flex;
  flex-flow: column;
  width:50%;
  margin:10px;
}
.data-chart-habit{
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
  height: 100%;
  background-color: white;
}
.data-chart-in{
  display: flex;
  margin:0px;
}
.Habit-Function_Buttons-cont{
  display: flex;
  width:50%;
  justify-content: space-around;
  align-items: center;
}
.pretend-button{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 170, 130);
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.581);
  height: 3vh;
  width: 30%;
  border-radius: .5em;
}
.Habit-Function_Button{
 text-decoration: none;
 
  color: rgb(255, 255, 255);
}
.Habit-Function_Button:hover{
  color: rgb(6, 6, 6);
}

.Bottom-Console{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  border: black 2px solid;
  height: 25vh;
  width: 96%;
  margin-top: 15%;
}
.pub-txt{
  display:flex;
}
.Left-Bottom-Console{
  display:flex;
  flex-flow:column;
  align-items: center;
  height: 20vh;
  width: 35%;
  color: black;
  border: black 2px solid;
}
.Right-Bottom-Console{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 35%;
  color: black;
  border: black 2px solid;
}

/* Habit Header link */
.habit-header-link{
  display:flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}
.habit-header-link h1{
  font-size: 50px;
}
.status-habit-y{
  display:flex;
  align-items: center;
  width: 100%;
}
.status-habit-y h3{
  font-size: 20px;
}
.icon-temp{
  height: 5vh;
  color: black;
}
.icon-temp:hover{
  color: rgb(36, 222, 169);
}

.list-of-habits{
  display:flex;
  flex-flow: column;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  
}
.link-for-habit{
  text-decoration: none;
  color: black;
}
.link-for-habit:hover{
  color: rgb(36, 222, 169);
}
.each-habit{
  display:flex;
  padding: 2vh;
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 2vh;
}

.chart{
  display:flex;
  /* border: 1px solid aqua; */
  height: 40vh;
}

/* user search bar */
.user-search{
  display:flex;
  /* background-color: red; */
  width:100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}

.user-search-input{
  display: flex;
  height: 4vh;
  border-radius: 1em;
  width: 70%;
  border: none;
}

/* Chart container */
.chart-holder{
  display:flex;
  align-self: flex-start;
}

/*Other, to be filed */
.user-comment-title{
  font-size: 14px;
}

.bottom-record{
  display: flex;
  flex-direction: row;
}

.specific-record-button{
  display: flex;
  padding-bottom:2mm;
  padding-left:2mm;
}

.user-comment{
  font-size: 13px;
  text-indent: 3mm;

}

.specific-record-font{
  font-family: helvetica;
  font-size: 20px;
}


.habitCont{
  display:flex;
  align-items: center;
  flex-direction: column;
  
  margin-left: 10%;
  margin-right: 10%;
}

.HabitReflections{
  display:flex;
  flex-flow: column;
  align-items: center;
}

.habitCont2{
  display: flex;
  align-items: center;
  flex-flow: column;
}

.each-h-reflect{
  display:flex;
  flex-direction: row;
  margin: 0 0 2vh 0;
  padding: 2vh;
  box-shadow: 0 0 3px black inset;
  border-radius: .3em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.reflect-id-link{
  display: flex;
  text-align: bottom;
  padding-top: 15mm;
  font-size:small;
}

.habit-title-1{
  display: flex;
  align-items: center;
}
.person-outline{
  color:black;
  height:10vh;
}
.person-outline:hover{
  color:rgb(36, 222, 169);
}
.txt-nice{
  color:rgb(0, 63, 40);
  font-size:24px;
}